ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_PAPER=true
ALPACA_DATA_FEED=iex
MARKETSTACK_API_KEY=
MARKETSTACK_BASE_URL=https://api.marketstack.com/v2
MARKETSTACK_DEFAULT_LIMIT=500
MARKETSTACK_CACHE_ENABLED=true
